<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DBUserName" value="user"/>
        <add key="DBPassword" value="dbPassword"/>
        <add key="DBDSN" value="dbDsn"/>
        <add key="EmailUserName" value="emailUsername"/>
        <add key="EmailPassword" value="emailPassword"/>
        <add key="EmailSMTP" value="emailSMTP"/>
    </appSettings>
</configuration>
