<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- Email  -->
        <add key="FromEmailAddress" value="Notifications@justserviceinc.com"/>
        <add key="FromEmailPassword" value="Rack6451"/>
        <add key="FromEmailSMTP" value="smtp.office365.com"/>
        <add key="FromEmailPort" value="587"/>
 
        <!-- Mode -->
        <!-- Valid modes are:  -->
        <!-- debug : will only email the manager contact email address -->
        <!-- live: will only email the po & lead tech contacts -->
        <!-- monitor: will email both the po & lead tech contacts and the manager contact -->
        <add key="Mode" value="monitor"/>

        <!-- Monitor Email Address  -->
        <!-- required when the Mode is 'monitor'-->
        <add key="MonitorEmailAddress" value="jeff@jeffhanisch.com"/>

        <!-- Domain:  JUSTSERVICEINC.local -->
        <!-- DB USER: MARKH, PWD: JUST042717  -->
        <!-- network:  administrator, pwd:  WWW.justserviceinc.com! -->
        
    </appSettings>
    <connectionStrings>
      <add name="JUSTodbc" connectionString="DRIVER={ComputerEase};DBQ=\\JUSTSERVICEINC.local\JS-ACCT\ComputerEase\data\0;UID=MARKH;;NullStrings=0;SERVER=NotTheServer"/>
      <add name="JUST2" connectionString="Data Source=JS-MGMT\VEEAMSQL2008R2; Initial Catalog=master; User ID=administrator; Password='JUST042717';" />
        
      <add name="JUST" connectionString="Data Source=jhanisch.db.2914310.hostedresource.com; Initial Catalog=jhanisch; User ID=jhanisch; Password='Pk5CKfvVyPn7yxVz@';" />
    </connectionStrings>
</configuration>
