<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="FromEmailAddress" value="poNotification@just.com"/>
        <add key="FromEmailPassword" value="emailPassword"/>
        <add key="FromEmailSMPT" value="emailSMTP"/>
        <add key="FromEmailPort" value="567"/>
    </appSettings>
    <connectionStrings>
      <add name="JUST" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=WingtipToys;Integrated Security=True;Pooling=False" />
    </connectionStrings>
</configuration>
