<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Email  -->
    <add key="FromEmailAddress" value="Notifications@justserviceinc.com"/>
    <add key="FromEmailPassword" value="K33pc00l2!"/>
    <add key="FromEmailSMTP" value="smtp.office365.com"/>
    <add key="FromEmailPort" value="587"/>

    <!--  ThresholdDays defines the number of days old an invoice needs to be to be included in this report -->
    <add key="ThresholdDays" value="90" />

    <!-- Monitor Email Address  -->
    <!-- required as this is the default to notify if other email addresses are not defined-->
    <add key="HEmailAddresses" value="Notifications@justserviceinc.com"/>
    <add key="PEmailAddresses" value="Notifications@justserviceinc.com"/>
    <add key="MonitorEmailAddress" value="Notifications@justserviceinc.com"/>

    <add key="Uid" value="Markh"/>
    <add key="Pwd" value="Just042717"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
